In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt

In [4]:
import numpy as np

In [5]:
import plotly.express as px

In [6]:
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

In [7]:
ntl = pd.read_csv("sum_ntl_adm1_2000_2021.csv")

In [8]:
ntl_mean = pd.read_csv("mean_ntl_adm1_2000_2021.csv")

In [15]:
ntl_wide = ntl_mean.pivot(index = ["id", "shapeName"], columns = "year", values = "total_sol")

In [21]:
ntl_wide = ntl_wide.add_prefix("ntl")

In [22]:
ntl_wide.to_csv("wide_ntl_adm1_2000_2021.csv")

In [23]:
ntl_wide.head()

,year,ntl2000,ntl2001,ntl2002,ntl2003,ntl2004,ntl2005,ntl2006,ntl2007,ntl2008,ntl2009,...,ntl2013,ntl2014,ntl2015,ntl2016,ntl2017,ntl2018,ntl2019,ntl2020,ntl2021,ntl2022
id,shapeName,,,,,,,,,,,,,,,,,,,,,
0,Santiago,0.411050,0.658356,0.783749,0.609885,0.367840,0.376783,0.614950,0.534931,0.486996,0.486592,...,1.239927,1.412117,1.521182,1.451923,1.670556,1.884374,2.060163,2.057762,2.322028,2.514273
1,Duarte,0.106541,0.172264,0.220821,0.120171,0.136613,0.174907,0.267733,0.188412,0.162191,0.166336,...,0.359657,0.411623,0.509123,0.497232,0.620513,0.665527,0.774952,0.882486,0.990144,1.133022
2,Elías Piña,0.001046,0.004159,0.000188,0.002702,0.002796,0.002279,0.000188,0.000545,0.004889,0.003624,...,0.054254,0.063427,0.063486,0.085963,0.095662,0.101302,0.096412,0.094367,0.097960,0.106256
3,Hato Mayor,0.016770,0.025782,0.056533,0.028171,0.046763,0.031994,0.035729,0.024985,0.018765,0.038524,...,0.119165,0.131073,0.136543,0.131123,0.145641,0.164119,0.166371,0.175422,0.204435,0.221481
4,La Vega,0.096720,0.126538,0.196426,0.123832,0.087546,0.073159,0.085546,0.054597,0.058035,0.084815,...,0.423032,0.469407,0.603118,0.597459,0.814542,0.913132,1.087570,1.146222,1.262728,1.332042

In [14]:
ntl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shapeName  736 non-null    object
 1   id         736 non-null    int64
 2   year       736 non-null    int64
 3   total_sol  736 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 23.1+ KB

In [ ]:
fig = px.box(ntl, x = "shapeName", y = "total_sol")
fig.show()

In [ ]:
ntl_mean.head()

In [ ]:
fig = px.box(ntl_mean, x = "shapeName", y = "total_sol")
fig.show()

In [ ]:
df = px.data.tips()

In [ ]:
df.head()

In [ ]:
fig = px.box(df, x = "time", y = "total_bill")
fig.show()

In [ ]:
ntl_wide_name = pd.merge(ntl_wide, ntl[["id","shapeName"]], on='id', how='left')