In [1]:
import pandas as pd

In [2]:
ent2000 = pd.read_csv("ent2000.csv", encoding='cp1252')

In [3]:
ent2001 = pd.read_csv("ent2001.csv", encoding='cp1252')

In [4]:
ent2002 = pd.read_csv("ent2002.csv", encoding='cp1252')

In [5]:
ent2003 = pd.read_csv("ent2003.csv", encoding='cp1252')

In [6]:
ent2004 = pd.read_csv("ent2004.csv", encoding='cp1252')

In [7]:
ent2005 = pd.read_csv("ent2005.csv", encoding='cp1252')

In [8]:
ent2006 = pd.read_csv("ent2006.csv", encoding='cp1252')

In [17]:
ent2007 = pd.read_csv("ent2007.csv", encoding='cp1252')

In [9]:
ent2006.columns

Index(['code', 'park', 'ent05', 'ent06', 'absolute variation'], dtype='object')

In [10]:
ent99_19 = pd.merge(ent2000[["code","park", "ent99", "ent00"]], ent2001[["code", "ent01"]], on='code',how='outer')

In [11]:
ent99_19 = pd.merge(ent99_19, ent2002[["code", "ent02"]], on='code',how='outer')

In [12]:
ent99_19 = pd.merge(ent99_19, ent2003[["code", "ent03"]], on='code',how='outer')

In [13]:
ent99_19 = pd.merge(ent99_19, ent2004[["code", "ent04"]], on='code',how='outer')

In [14]:
ent99_19 = pd.merge(ent99_19, ent2005[["code", "ent05"]], on='code',how='outer')

In [15]:
ent99_19 = pd.merge(ent99_19, ent2006[["code", "ent06"]], on='code',how='outer')

In [16]:
ent99_19

,code,park,ent99,ent00,ent01,ent02,ent03,ent04,ent05,ent06
0,DOM-ALC,Los Alcarrizos,16.0,19.0,17.0,14.0,18.0,17.0,14.0,14.0
1,DOM-ALT,Villa Altagracia,2.0,2.0,2.0,3.0,3.0,3.0,4.0,7.0
2,DOM-ARM,La Armer’a,11.0,10.0,9.0,11.0,10.0,10.0,10.0,9.0
3,DOM-AZU,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,NaN
4,DOM-BAN,Ban’,13.0,11.0,11.0,9.0,9.0,8.0,10.0,8.0
...,...,...,...,...,...,...,...,...,...,...
60,DOM-TAM,Tamboril,2.0,1.0,1.0,2.0,5.0,5.0,5.0,4.0
61,DOM-VEG,La Vega,29.0,30.0,28.0,32.0,32.0,30.0,21.0,27.0
62,DOM-VIS,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0
63,DOM-ZFE,Z.F. Especiales,28.0,27.0,31.0,33.0,35.0,41.0,56.0,75.0
64,DOM-ZOF,Zofinma (Mao),0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0