In [1]:
import pandas as pd

In [19]:
import numpy as np

In [7]:
loc = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_location/clean_id_loc_year_type.csv", 
                  encoding='cp1252')

In [8]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')

In [28]:
inv.fillna(0, inplace = True)

In [29]:
df= pd.merge(loc, inv[['code', 'inv00', 'inv16']], on="code", how="outer")

In [32]:
e = 0.000000001
df["l_inv00"] = np.log(df["inv00"]+e)

In [33]:
df

,code,name,latitude,longitude,year,close,type,sez_id,inv00,inv16,l_inv00
0,DOM-6NO,Zona Franca 6 de Noviembre,18.434236,-70.077097,2016.0,0.0,private,38.0,0.00,1.890354e+06,-20.723266
1,DOM-ALC,Los Alcarrizos,18.521192,-70.050865,1990.0,0.0,public,41.0,19853638.95,2.551860e+07,16.803898
2,DOM-ALT,Villa Altagracia,18.687048,-70.180632,1988.0,0.0,private,35.0,33900000.00,1.143553e+07,17.338926
3,DOM-AND,Andres,18.442336,-69.649780,2009.0,0.0,private,55.0,0.00,9.356500e+05,-20.723266
4,DOM-ARM,La Armeria,18.421294,-70.117660,1990.0,0.0,public,37.0,8620740.19,7.167910e+06,15.969682
...,...,...,...,...,...,...,...,...,...,...,...
92,DOM-VER,Luperon Verde,19.793250,-70.680905,2019.0,0.0,private,15.0,0.00,0.000000e+00,-20.723266
93,DOM-VIS,Bella Vista,18.613215,-69.708447,2004.0,0.0,private,52.0,0.00,2.832005e+08,-20.723266
94,DOM-YAQ,Parque Industrial y de Servicios Yaque,19.469724,-70.714373,2010.0,0.0,private,13.0,0.00,1.505341e+07,-20.723266
95,DOM-ZFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89407341.28,8.159126e+08,18.308713
96,DOM-ZOF,Zofinma (Mao),19.553957,-71.091628,1993.0,2006.0,private,3.0,413004.00,0.000000e+00,12.931213

In [ ]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')