In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
loc = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_location/clean_id_loc_year_type.csv", 
                  encoding='cp1252')

In [4]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')

In [5]:
empf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_f.csv", 
                  encoding='cp1252')

In [6]:
empm = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_m.csv", 
                  encoding='cp1252')

In [7]:
emp_total = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_total.csv", 
                  encoding='cp1252')

In [8]:
ent = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_enterprises/ent99_19.csv", 
                  encoding='cp1252')

In [9]:
exp_ele = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/ele_exp00_19.csv", 
                  encoding='cp1252')

In [10]:
exp_com = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/com_exp00_19.csv", 
                  encoding='cp1252')

In [11]:
exp_inf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/infotep_exp00_19.csv", 
                  encoding='cp1252')

In [12]:
exp_wat = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/water_exp00_19.csv", 
                  encoding='cp1252')

In [13]:
exp_tss = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/tss_exp00_19.csv", 
                  encoding='cp1252')

In [14]:
nav = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_naves/nav_agg_00_16.csv", 
                  encoding='cp1252')

In [15]:
op = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_op_00_16.csv", 
                  encoding='cp1252')

In [16]:
tec = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_tec_00_16.csv", 
                  encoding='cp1252')

In [17]:
def f(df):
    #df.drop(df.columns.str.contains("par"), inplace = True)
    return df.drop(columns=df.columns[df.columns.str.contains("par")])

In [18]:
#databases = [empf, empm, emp_total, ent, exp_ele, exp_com, exp_inf, exp_wat, exp_tss, nav, op, tec]
databases = [empf, empm, emp_total, ent, exp_ele, exp_com, exp_inf, exp_wat, exp_tss, nav, op, tec]

In [19]:
sez = pd.merge(loc, f(inv), on="code", how="outer")

In [20]:
for database in databases: 
    sez = pd.merge(sez, f(database), on="code", how="outer")

In [21]:
sez = sez[sez["code"] != "DOM-ZFE"]

In [22]:
sez.fillna(0, inplace=True)

In [23]:
#filter for the period 2000 2016
def rename_columns(df):
    new_columns = []
    for col in df.columns:
        if col[-2:].isdigit() and not col[-4:].isdigit():
            new_columns.append(col[:-2] + "20" + col[-2:])  
        else:
            new_columns.append(col)
    df.columns = new_columns
    return df

In [24]:
sez = rename_columns(sez)

In [25]:
filter_year = ["2017", "2018", "2018", "2019", "2020", "2021", "2022"]

for year in filter_year:   
    sez_filtered = sez.drop(columns = sez.columns[sez.columns.str.contains(year)])

In [26]:
sez_filtered.columns[sez_filtered.columns.str.contains(year)]

Index([], dtype='object')

In [27]:
sez_filtered.to_csv("sez.csv", index=False)

In [28]:
sez.columns

Index(['code', 'name', 'latitude', 'longitude', 'year', 'close', 'type',
       'sez_id', 'origin ', 'inv2000',
       ...
       'sal_tec2007', 'sal_tec2008', 'sal_tec2019', 'sal_tec2010',
       'sal_tec2011', 'sal_tec2012', 'sal_tec2013', 'sal_tec2014',
       'sal_tec2015', 'sal_tec2016'],
      dtype='object', length=363)

In [29]:
sez.tail(10)

,code,name,latitude,longitude,year,close,type,sez_id,origin,inv2000,...,sal_tec2007,sal_tec2008,sal_tec2019,sal_tec2010,sal_tec2011,sal_tec2012,sal_tec2013,sal_tec2014,sal_tec2015,sal_tec2016
85,DOM-SLI,Parque Tecnologico de Santiago,19.446254,-70.639953,1993.0,0.0,private,86.0,1.0,5324144.00,...,3424.13,3925.00,3085.71,2990.04,3202.71,3516.67,4145.83,6693.75,5641.67,6605.00
86,DOM-SUN,Parque Industrial Zona Franca Sunsea,0.000000,0.000000,2016.0,2019.0,private,87.0,1.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5000.00
87,DOM-SUR,Zona Franca Ind. Del Sur,0.000000,0.000000,2014.0,0.0,private,88.0,1.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5624.00,0.00,0.00
88,DOM-TAL,Intercontinental,18.560544,-70.070350,2015.0,0.0,private,89.0,1.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5736.96,5800.00
89,DOM-TAM,Tamboril,19.481426,-70.633332,1997.0,0.0,private,90.0,1.0,220900.00,...,2833.33,3575.00,2962.75,3116.93,3286.85,4650.03,4100.00,4103.83,4749.78,4563.17
90,DOM-VEG,La Vega,19.246732,-70.556490,1987.0,0.0,public,91.0,1.0,45018217.52,...,3836.31,2984.12,3021.27,3190.84,3356.29,3686.81,3737.21,4189.40,4754.71,4671.84
91,DOM-VER,Luperon Verde,19.793250,-70.680905,2019.0,0.0,private,92.0,1.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
92,DOM-VIS,Bella Vista,18.613215,-69.708447,2004.0,0.0,private,93.0,1.0,0.00,...,0.00,4569.00,4615.00,5375.00,4698.00,6863.00,6433.17,7015.64,4450.00,4500.00
93,DOM-YAQ,Parque Industrial y de Servicios Yaque,19.469724,-70.714373,2010.0,0.0,private,94.0,1.0,0.00,...,0.00,0.00,0.00,3439.60,4800.00,3417.45,3807.43,2897.10,3996.96,5841.01
95,DOM-ZOF,Zofinma (Mao),19.553957,-71.091628,1993.0,2006.0,private,95.0,1.0,413004.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [30]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')