In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
loc = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_location/clean_id_loc_year_type.csv", 
                  encoding='cp1252')

In [4]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')

In [5]:
empf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_f.csv", 
                  encoding='cp1252')

In [6]:
empm = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_m.csv", 
                  encoding='cp1252')

In [7]:
emp_total = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_total.csv", 
                  encoding='cp1252')

In [8]:
ent = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_enterprises/ent99_19.csv", 
                  encoding='cp1252')

In [9]:
exp_ele = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/ele_exp00_19.csv", 
                  encoding='cp1252')

In [10]:
exp_com = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/com_exp00_19.csv", 
                  encoding='cp1252')

In [11]:
exp_inf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/infotep_exp00_19.csv", 
                  encoding='cp1252')

In [12]:
exp_wat = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/water_exp00_19.csv", 
                  encoding='cp1252')

In [13]:
exp_tss = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/tss_exp00_19.csv", 
                  encoding='cp1252')

In [14]:
nav = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_naves/nav_agg_00_16.csv", 
                  encoding='cp1252')

In [15]:
op = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_op_00_16.csv", 
                  encoding='cp1252')

In [16]:
tec = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_tec_00_16.csv", 
                  encoding='cp1252')

In [17]:
def f(df):
    #df.drop(df.columns.str.contains("par"), inplace = True)
    return df.drop(columns=df.columns[df.columns.str.contains("par")])

In [18]:
#databases = [empf, empm, emp_total, ent, exp_ele, exp_com, exp_inf, exp_wat, exp_tss, nav, op, tec]
databases = [empf]

In [19]:
sez = pd.merge(loc, f(inv), on="code", how="outer")

In [20]:
for database in databases: 
    sez = pd.merge(sez, f(database), on="code", how="outer")

In [21]:
sez.to_csv("sez.csv")

In [22]:
empf.describe

<bound method NDFrame.describe of        code  ob_f_00  tec_f_00  adm_f_00  total_f_00  ob_f_01  tec_f_01  \
0   DOM-6NO      0.0       0.0       0.0         0.0      0.0       0.0
1   DOM-ALC   2105.0      59.0      62.0      2226.0   1361.0      39.0
2   DOM-ALT   2476.0      15.0     131.0      2622.0   1823.0      18.0
3   DOM-AND      0.0       0.0       0.0         0.0      0.0       0.0
4   DOM-ARM   1719.0      37.0      30.0      1786.0   1285.0      38.0
..      ...      ...       ...       ...         ...      ...       ...
86  DOM-VIS      0.0       0.0       0.0         0.0      0.0       0.0
87  DOM-YAQ      0.0       0.0       0.0         0.0      0.0       0.0
88  DOM-ZFE      0.0       0.0       0.0         0.0      0.0       0.0
89  DOM-ZOF     82.0       2.0       3.0        87.0    151.0       6.0
90        0   2646.0      79.0     175.0      2900.0      0.0       0.0

    adm_f_01  total_f_01  ob_f_02  ...  adm_f_14  total_f_14  ob_f_15  \
0        0.0         0.0      0.0  ...       0.0         0.0      0.0
1       74.0      1474.0   1143.0  ...      27.0       465.0    409.0
2       11.0      1852.0   1623.0  ...      10.0       123.0     82.0
3        0.0         0.0      0.0  ...       8.0        12.0      2.0
4       13.0      1336.0   1372.0  ...      14.0       218.0    310.0
..       ...         ...      ...  ...       ...         ...      ...
86       0.0         0.0      0.0  ...      47.0       118.0    123.0
87       0.0         0.0      0.0  ...      25.0        25.0      2.0
88       0.0         0.0      0.0  ...    1107.0     10283.0   4558.0
89       2.0       159.0    135.0  ...       0.0         0.0      0.0
90       0.0         0.0   1982.0  ...       0.0         0.0      0.0

    tec_f_15  adm_f_15  total_f_15  ob_f_16  tec_f_16  adm_f_16  total_f_16
0        0.0       0.0         0.0     26.0       0.0       2.0        28.0
1       20.0      40.0       469.0    403.0      23.0      48.0       474.0
2        6.0      10.0        98.0     90.0       3.0      14.0       107.0
3        0.0       7.0         9.0      2.0       0.0       6.0         8.0
4        8.0      25.0       343.0    407.0       7.0      28.0       442.0
..       ...       ...         ...      ...       ...       ...         ...
86      10.0      84.0       217.0    336.0      19.0      94.0       449.0
87       1.0      30.0        33.0      2.0       1.0      24.0        27.0
88    4227.0    1661.0     10446.0   3513.0    5007.0    1411.0      9931.0
89       0.0       0.0         0.0      0.0       0.0       0.0         0.0
90       0.0       0.0         0.0      0.0       0.0       0.0         0.0

[91 rows x 65 columns]>

In [23]:
sez.head(10)

,code,name,latitude,longitude,year,close,type,sez_id,inv00,inv01,...,adm_f_14,total_f_14,ob_f_15,tec_f_15,adm_f_15,total_f_15,ob_f_16,tec_f_16,adm_f_16,total_f_16
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,DOM-6NO,Zona Franca 6 de Noviembre,18.434236,-70.077097,2016.0,0.0,private,1.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,2.0,28.0
2,DOM-ALC,Los Alcarrizos,18.521192,-70.050865,1990.0,0.0,public,2.0,19853638.95,19521896.75,...,27.0,465.0,409.0,20.0,40.0,469.0,403.0,23.0,48.0,474.0
3,DOM-ALT,Villa Altagracia,18.687048,-70.180632,1988.0,0.0,private,3.0,33900000.00,3300000.00,...,10.0,123.0,82.0,6.0,10.0,98.0,90.0,3.0,14.0,107.0
4,DOM-AND,Andres,18.442336,-69.649780,2009.0,0.0,private,4.0,0.00,0.00,...,8.0,12.0,2.0,0.0,7.0,9.0,2.0,0.0,6.0,8.0
5,DOM-ARM,La Armeria,18.421294,-70.117660,1990.0,0.0,public,5.0,8620740.19,5016030.00,...,14.0,218.0,310.0,8.0,25.0,343.0,407.0,7.0,28.0,442.0
6,DOM-AZU,Azua,NaN,NaN,2001.0,2004.0,public,6.0,0.00,900000.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,DOM-BAN,Bani,18.253155,-70.405117,1986.0,0.0,private,7.0,15539933.25,12655436.88,...,16.0,179.0,255.0,23.0,26.0,304.0,235.0,38.0,19.0,292.0
8,DOM-BAR,Barahona,18.221536,-71.101452,1989.0,0.0,public,8.0,6064000.00,15789255.00,...,10.0,690.0,734.0,70.0,31.0,835.0,734.0,71.0,31.0,836.0
9,DOM-BAY,Bayaguana,NaN,NaN,1999.0,2007.0,public,9.0,566335.00,15000.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')