In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
loc = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_location/clean_id_loc_year_type.csv", 
                  encoding='cp1252')

In [4]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')

In [5]:
empf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_f.csv", 
                  encoding='cp1252')

In [6]:
empm = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_m.csv", 
                  encoding='cp1252')

In [7]:
emp_total = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_total.csv", 
                  encoding='cp1252')

In [8]:
ent = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_enterprises/ent99_19.csv", 
                  encoding='cp1252')

In [9]:
exp_ele = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/ele_exp00_19.csv", 
                  encoding='cp1252')

In [10]:
exp_com = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/com_exp00_19.csv", 
                  encoding='cp1252')

In [11]:
exp_inf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/infotep_exp00_19.csv", 
                  encoding='cp1252')

In [12]:
exp_wat = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/water_exp00_19.csv", 
                  encoding='cp1252')

In [13]:
exp_tss = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/tss_exp00_19.csv", 
                  encoding='cp1252')

In [14]:
nav = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_naves/nav_agg_00_16.csv", 
                  encoding='cp1252')

In [15]:
op = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_op_00_16.csv", 
                  encoding='cp1252')

In [16]:
tec = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_tec_00_16.csv", 
                  encoding='cp1252')

In [17]:
def f(df):
    #df.drop(df.columns.str.contains("par"), inplace = True)
    return df.drop(columns=df.columns[df.columns.str.contains("par")])

In [27]:
#databases = [empf, empm, emp_total, ent, exp_ele, exp_com, exp_inf, exp_wat, exp_tss, nav, op, tec]
databases = [empf, empm, emp_total, ent, exp_ele, exp_com, exp_inf, exp_wat, exp_tss]

In [28]:
sez = pd.merge(loc, f(inv), on="code", how="outer")

In [29]:
for database in databases: 
    sez = pd.merge(sez, f(database), on="code", how="outer")

In [30]:
sez = sez[sez["code"] != "DOM-ZFE"]

In [31]:
sez.to_csv("sez.csv", index=False)

In [23]:
empf.describe

<bound method NDFrame.describe of        code  ob_f_00  tec_f_00  adm_f_00  total_f_00  ob_f_01  tec_f_01  \
0   DOM-6NO      0.0       0.0       0.0         0.0      0.0       0.0
1   DOM-ALC   2105.0      59.0      62.0      2226.0   1361.0      39.0
2   DOM-ALT   2476.0      15.0     131.0      2622.0   1823.0      18.0
3   DOM-AND      0.0       0.0       0.0         0.0      0.0       0.0
4   DOM-ARM   1719.0      37.0      30.0      1786.0   1285.0      38.0
..      ...      ...       ...       ...         ...      ...       ...
82  DOM-TAM     14.0       0.0       1.0        15.0     69.0       8.0
83  DOM-VEG   5597.0     277.0     156.0      6030.0   4217.0     248.0
84  DOM-VIS      0.0       0.0       0.0         0.0      0.0       0.0
85  DOM-YAQ      0.0       0.0       0.0         0.0      0.0       0.0
86  DOM-ZOF     82.0       2.0       3.0        87.0    151.0       6.0

    adm_f_01  total_f_01  ob_f_02  ...  adm_f_14  total_f_14  ob_f_15  \
0        0.0         0.0      0.0  ...       0.0         0.0      0.0
1       74.0      1474.0   1143.0  ...      27.0       465.0    409.0
2       11.0      1852.0   1623.0  ...      10.0       123.0     82.0
3        0.0         0.0      0.0  ...       8.0        12.0      2.0
4       13.0      1336.0   1372.0  ...      14.0       218.0    310.0
..       ...         ...      ...  ...       ...         ...      ...
82       2.0        79.0     48.0  ...      76.0      3019.0   2387.0
83     195.0      4660.0   4557.0  ...     102.0      3252.0   3053.0
84       0.0         0.0      0.0  ...      47.0       118.0    123.0
85       0.0         0.0      0.0  ...      25.0        25.0      2.0
86       2.0       159.0    135.0  ...       0.0         0.0      0.0

    tec_f_15  adm_f_15  total_f_15  ob_f_16  tec_f_16  adm_f_16  total_f_16
0        0.0       0.0         0.0     26.0       0.0       2.0        28.0
1       20.0      40.0       469.0    403.0      23.0      48.0       474.0
2        6.0      10.0        98.0     90.0       3.0      14.0       107.0
3        0.0       7.0         9.0      2.0       0.0       6.0         8.0
4        8.0      25.0       343.0    407.0       7.0      28.0       442.0
..       ...       ...         ...      ...       ...       ...         ...
82     217.0     104.0      2708.0   2452.0     144.0      93.0      2689.0
83     125.0      70.0      3248.0   2654.0     116.0      58.0      2828.0
84      10.0      84.0       217.0    336.0      19.0      94.0       449.0
85       1.0      30.0        33.0      2.0       1.0      24.0        27.0
86       0.0       0.0         0.0      0.0       0.0       0.0         0.0

[87 rows x 65 columns]>

In [24]:
sez.tail(10)

,code,name,latitude,longitude,year,close,type,sez_id,origin,inv00,...,ele10,ele11,ele12,ele13,ele14,ele15,ele16,ele17,ele18,ele19
85,DOM-SLI,Parque Tecnologico de Santiago,19.446254,-70.639953,1993.0,0.0,private,86.0,1.0,5324144.00,...,4969175.89,4.793080e+06,4358267.17,7.256029e+06,6.436875e+06,6.000755e+06,6945.19,6.236185e+06,0.0,7.801574e+06
86,DOM-SUN,Parque Industrial Zona Franca Sunsea,NaN,NaN,2016.0,2019.0,private,87.0,1.0,0.00,...,0.00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1982.33,2.238300e+06,0.0,0.000000e+00
87,DOM-SUR,Zona Franca Ind. Del Sur,NaN,NaN,2014.0,0.0,private,88.0,1.0,0.00,...,0.00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,7.620000e+04,83.00,7.632500e+04,0.0,1.217758e+05
88,DOM-TAL,Intercontinental,18.560544,-70.070350,2015.0,0.0,private,89.0,1.0,0.00,...,0.00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1251.31,1.495742e+06,0.0,1.344864e+06
89,DOM-TAM,Tamboril,19.481426,-70.633332,1997.0,0.0,private,90.0,1.0,220900.00,...,8487711.31,2.121384e+07,39412130.31,4.720776e+07,7.593143e+07,8.086182e+07,151758.85,1.440510e+08,0.0,7.794792e+07
90,DOM-VEG,La Vega,19.246732,-70.556490,1987.0,0.0,public,91.0,1.0,45018217.52,...,35713830.00,5.024331e+07,57437671.39,6.711528e+07,1.296571e+08,6.177097e+07,50380.11,4.998274e+07,0.0,6.302831e+07
91,DOM-VER,Luperon Verde,19.793250,-70.680905,2019.0,0.0,private,92.0,1.0,0.00,...,0.00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,0.0,8.500000e+04
92,DOM-VIS,Bella Vista,18.613215,-69.708447,2004.0,0.0,private,93.0,1.0,0.00,...,10085000.00,1.735000e+08,5013142.46,3.932950e+08,3.747000e+08,3.156496e+08,254413.10,2.820829e+08,0.0,3.053992e+08
93,DOM-YAQ,Parque Industrial y de Servicios Yaque,19.469724,-70.714373,2010.0,0.0,private,94.0,1.0,0.00,...,14179092.89,1.299596e+07,10715418.68,2.473605e+07,1.704265e+07,3.120156e+07,24382.60,1.935189e+07,0.0,1.759514e+07
95,DOM-ZOF,Zofinma (Mao),19.553957,-71.091628,1993.0,2006.0,private,95.0,1.0,413004.00,...,0.00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,0.0,0.000000e+00

In [25]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')