In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
loc = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_location/clean_id_loc_year_type.csv", 
                  encoding='cp1252')

In [4]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')

In [5]:
empf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_f.csv", 
                  encoding='cp1252')

In [6]:
empm = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_m.csv", 
                  encoding='cp1252')

In [7]:
emp_total = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_employment/emp_agg_total.csv", 
                  encoding='cp1252')

In [8]:
ent = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_enterprises/ent99_19.csv", 
                  encoding='cp1252')

In [9]:
exp_ele = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/ele_exp00_19.csv", 
                  encoding='cp1252')

In [10]:
exp_com = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/com_exp00_19.csv", 
                  encoding='cp1252')

In [11]:
exp_inf = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/infotep_exp00_19.csv", 
                  encoding='cp1252')

In [12]:
exp_wat = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/water_exp00_19.csv", 
                  encoding='cp1252')

In [13]:
exp_tss = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_expenses/tss_exp00_19.csv", 
                  encoding='cp1252')

In [14]:
nav = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_naves/nav_agg_00_16.csv", 
                  encoding='cp1252')

In [15]:
op = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_op_00_16.csv", 
                  encoding='cp1252')

In [16]:
tec = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_salary/sal_tec_00_16.csv", 
                  encoding='cp1252')

In [17]:
def f(df):
    #df.drop(df.columns.str.contains("par"), inplace = True)
    return df.drop(columns=df.columns[df.columns.str.contains("par")])

In [18]:
#databases = [empf, empm, emp_total, ent, exp_ele, exp_com, exp_inf, exp_wat, exp_tss, nav, op, tec]
databases = [empf, empm, emp_total, ent, exp_ele]

In [19]:
sez = pd.merge(loc, f(inv), on="code", how="outer")

In [20]:
for database in databases: 
    sez = pd.merge(sez, f(database), on="code", how="outer")

In [21]:
sez = sez[sez["code"] != "DOM-ZFE"]

In [22]:
sez.to_csv("sez.csv", index=False)

In [23]:
empf.describe

<bound method NDFrame.describe of        code  ob_f_00  tec_f_00  adm_f_00  total_f_00  ob_f_01  tec_f_01  \
0   DOM-6NO      0.0       0.0       0.0         0.0      0.0       0.0
1   DOM-ALC   2105.0      59.0      62.0      2226.0   1361.0      39.0
2   DOM-ALT   2476.0      15.0     131.0      2622.0   1823.0      18.0
3   DOM-AND      0.0       0.0       0.0         0.0      0.0       0.0
4   DOM-ARM   1719.0      37.0      30.0      1786.0   1285.0      38.0
..      ...      ...       ...       ...         ...      ...       ...
82  DOM-TAM     14.0       0.0       1.0        15.0     69.0       8.0
83  DOM-VEG   5597.0     277.0     156.0      6030.0   4217.0     248.0
84  DOM-VIS      0.0       0.0       0.0         0.0      0.0       0.0
85  DOM-YAQ      0.0       0.0       0.0         0.0      0.0       0.0
86  DOM-ZOF     82.0       2.0       3.0        87.0    151.0       6.0

    adm_f_01  total_f_01  ob_f_02  ...  adm_f_14  total_f_14  ob_f_15  \
0        0.0         0.0      0.0  ...       0.0         0.0      0.0
1       74.0      1474.0   1143.0  ...      27.0       465.0    409.0
2       11.0      1852.0   1623.0  ...      10.0       123.0     82.0
3        0.0         0.0      0.0  ...       8.0        12.0      2.0
4       13.0      1336.0   1372.0  ...      14.0       218.0    310.0
..       ...         ...      ...  ...       ...         ...      ...
82       2.0        79.0     48.0  ...      76.0      3019.0   2387.0
83     195.0      4660.0   4557.0  ...     102.0      3252.0   3053.0
84       0.0         0.0      0.0  ...      47.0       118.0    123.0
85       0.0         0.0      0.0  ...      25.0        25.0      2.0
86       2.0       159.0    135.0  ...       0.0         0.0      0.0

    tec_f_15  adm_f_15  total_f_15  ob_f_16  tec_f_16  adm_f_16  total_f_16
0        0.0       0.0         0.0     26.0       0.0       2.0        28.0
1       20.0      40.0       469.0    403.0      23.0      48.0       474.0
2        6.0      10.0        98.0     90.0       3.0      14.0       107.0
3        0.0       7.0         9.0      2.0       0.0       6.0         8.0
4        8.0      25.0       343.0    407.0       7.0      28.0       442.0
..       ...       ...         ...      ...       ...       ...         ...
82     217.0     104.0      2708.0   2452.0     144.0      93.0      2689.0
83     125.0      70.0      3248.0   2654.0     116.0      58.0      2828.0
84      10.0      84.0       217.0    336.0      19.0      94.0       449.0
85       1.0      30.0        33.0      2.0       1.0      24.0        27.0
86       0.0       0.0         0.0      0.0       0.0       0.0         0.0

[87 rows x 65 columns]>

In [24]:
sez.tail(10)

,code,name,latitude,longitude,year,close,type,sez_id,origin,inv00,...,ele10,ele11,ele12,ele13,ele14,ele15,ele16,ele17,ele18,ele19
98,SPE-DN1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,SPE-HIG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,SPE-LRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,SPE-MON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,SPE-POP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103,SPE-SAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
104,SPE-SCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105,SPE-SFM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106,SPE-TRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107,SPE-VEG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
inv = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/sez_investment/inv00-19.csv", 
                  encoding='cp1252')