In [1]:
import pandas as pd

In [2]:
sez = pd.read_csv("joined_sez_map.csv")

In [3]:
pop = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/population/worlpop_count_sum.csv")

In [4]:
pop.rename(columns = {"gqid" : "id"}, inplace=True)

In [5]:
column_filter = pop[pop.columns[pop.columns.str.contains("worldpop")]]

In [6]:
for col in column_filter:
    new_name = "pop" + col.split(".", 1)[1]
    pop.rename(columns = {col : new_name}, inplace = True)

In [7]:
pop_sum = pop[pop.columns[pop.columns.str.contains("sum|shape|id")]]

In [8]:
pop_sum.columns = pop_sum.columns.str.replace(".sum$", "", regex=True)

In [10]:
prep = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/precipitation/precipitation_00_22.csv")

In [11]:
prep_filter = prep[prep.columns[prep.columns.str.contains("pre_yearly")]]

In [12]:
for col in prep_filter: 
    new_name = "prep" + col.split(".", 1)[1]
    prep.rename(columns = {col : new_name}, inplace = True)

In [13]:
prep.columns = prep.columns.str.replace(".mean$", "", regex=True)

In [26]:
prep.rename(columns = {"asdf_id" : "id"}, inplace=True)

In [14]:
temp = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/temperature/temperature_day_modis61_mean.csv")

In [29]:
temp.rename(columns = {"gqid" : "id"}, inplace=True)

In [31]:
temp_filter = temp[temp.columns[temp.columns.str.contains("mod11c3_061")]]

In [32]:
for col in temp_filter: 
    new_name = "temp" + col.split(".", 1)[1]
    temp.rename(columns = {col : new_name}, inplace=True)

In [33]:
temp.columns = temp.columns.str.replace(".mean$", "", regex=True)

In [18]:
agri = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/landcover/agriculture_land_wide.csv")

In [37]:
agri.rename(columns = {"cityCode" : "id"}, inplace=True)

In [19]:
urba = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/landcover/urban_land_wide.csv")

In [39]:
urba.rename(columns = {"cityCode" : "id"}, inplace=True)

In [20]:
ntl = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/ntl/ntl_sum_wide_00-22.csv")

In [47]:
datasets = [prep, temp, agri, urba, ntl]

In [45]:
municipality_data = pd.merge(sez, pop_sum[pop_sum.columns[pop_sum.columns.str.contains("pop|id")]], on="id", how="outer")

In [48]:
for dataset in datasets: 
    municipality_data = pd.merge(municipality_data, dataset, on="id", how= "outer")

,id,index_left,code,name,latitude,longitude,year,close,type,sez_id,...,ntl_2007,ntl_2008,ntl_2009,ntl_2010,ntl_2011,ntl_2012,ntl_2013,ntl_2014,ntl_2015,ntl_2016
0,0,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.081665,0.054235,0.068892,0.047213,0.125228,0.044765,0.163717,0.199235,0.275266,0.261424
1,1,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.013462,0.008532,0.017813,0.010322,0.021407,0.010507,0.052045,0.058413,0.064734,0.054829
2,2,57.0,DOM-MOC,Moca,19.390233,-70.537286,1989.0,0.0,public,58.0,...,0.221490,0.268126,0.359653,0.248176,0.597419,0.689785,1.514305,1.899313,2.090571,2.052055
3,3,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.004520,0.007137,0.004743,0.011097,0.089729,0.018345,0.027539,0.028921,0.019717,0.047437
4,4,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.000702,0.000000,0.000000,0.017778,0.133369,0.155101,0.169288,0.174950,0.173296,0.168871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
158,158,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
159,159,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.475824,0.480153,0.270949,0.517872,0.146408,3.008230,2.917675,2.435320,2.809598,3.067744
160,160,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.139658,0.194825,0.161317,0.040305,0.246985,0.800407,1.129739,1.227912,1.349442,1.265729
161,161,6.0,DOM-BAN,Bani,18.253155,-70.405117,1986.0,0.0,private,7.0,...,0.000000,0.000000,0.000000,0.000000,0.043324,0.117635,0.394081,0.438120,0.443447,0.399016