In [1]:
import pandas as pd

In [3]:
sez = pd.read_csv("joined_sez_map.csv")

In [6]:
pop = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/population/worlpop_count_sum.csv")

In [9]:
column_filter = pop[pop.columns[pop.columns.str.contains("worldpop")]]

In [11]:
for col in column_filter:
    new_name = "pop" + col.split(".", 1)[1]
    pop.rename(columns = {col : new_name}, inplace = True)

In [13]:
pop_sum = pop[pop.columns[pop.columns.str.contains("sum|shape|id")]]

In [31]:
pop_sum.columns = pop_sum.columns.str.replace(".sum$", "", regex=True)

In [32]:
pop_sum

,gqid,shapeGroup,shapeID,shapeName,shapeType,pop2000,pop2001,pop2002,pop2003,pop2004,...,pop2011,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,pop2019,pop2020
0,0,DOM,DOM-ADM2-62336421B4129984,Constanza,ADM2,45970.070310,47035.882810,48345.648440,49470.703130,50638.523440,...,61356.378910,62881.078130,64882.167970,66922.765630,68747.250000,71156.859380,73428.031250,75796.445310,78273.484380,80849.898440
1,1,DOM,DOM-ADM2-62336421B77813703,Sabana De La Mar,ADM2,14736.208010,14754.046880,14827.058590,14836.921880,14940.546880,...,15583.217770,15605.839840,15690.029300,15843.356450,15981.168950,16100.646480,16229.238280,16351.714840,16478.464840,16611.490230
2,2,DOM,DOM-ADM2-62336421B53492119,Moca,ADM2,74844.140630,77744.734380,81927.132810,84006.570310,86649.195310,...,111147.804700,113425.445300,118354.617200,121928.179700,126503.710900,131977.125000,136775.421900,142350.250000,148277.484400,153291.390600
3,3,DOM,DOM-ADM2-62336421B76783084,Bayaguana,ADM2,32907.832030,32802.625000,32701.800780,32459.386720,32240.417970,...,31426.476560,31294.906250,31123.841800,31036.798830,30900.898440,30770.750000,30622.753910,30542.845700,30420.687500,30310.660160
4,4,DOM,DOM-ADM2-62336421B67057363,El Factor,ADM2,19353.316410,19696.431640,20171.140630,20543.074220,20984.316410,...,25939.066410,26729.710940,27863.269530,28916.035160,30105.857420,31415.054690,32826.164060,34232.000000,35890.281250,37616.562500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,DOM,DOM-ADM2-62336421B42885380,Isla Saona,ADM2,831.317627,1242.263184,999.414368,1210.677612,1148.503296,...,1196.959473,1569.069580,1582.425903,1924.996826,2104.555664,1997.416504,1931.732422,2042.943604,2006.158691,2159.082031
158,158,DOM,DOM-ADM2-62336421B10375685,Isla Catalina,ADM2,209.728638,277.456635,257.666229,250.226975,242.554718,...,349.489075,311.703003,304.112060,355.788330,389.052185,339.188721,315.339539,358.027313,347.841797,377.290497
159,159,DOM,DOM-ADM2-62336421B32197612,San Luis,ADM2,45563.625000,45702.195310,48744.183590,48841.074220,49615.316410,...,55413.886720,54730.304690,56544.863280,55975.429690,58652.058590,60370.230470,61507.601560,63251.238280,64889.960940,67187.789060
160,160,DOM,DOM-ADM2-62336421B94417177,San Victor,ADM2,62141.441410,62876.718750,62545.578130,64238.656250,65637.851560,...,74754.515630,77995.312500,78869.742190,81556.546880,83240.257810,84292.187500,86342.562500,87863.320310,89389.031250,92006.054690
161,161,DOM,DOM-ADM2-62336421B26924656,Matanzas,ADM2,34227.917970,36069.531250,36438.628910,37953.761720,39210.035160,...,45980.375000,45739.152340,46780.414060,49476.898440,50912.062500,51284.535160,52062.464840,54064.800780,55536.328130,57532.125000

In [15]:
prep = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/precipitation/precipitation_00_22.csv")

In [16]:
prep

,asdf_id,cru_ts_407_pre_yearly_mean.2000.mean,cru_ts_407_pre_yearly_mean.2001.mean,cru_ts_407_pre_yearly_mean.2002.mean,cru_ts_407_pre_yearly_mean.2003.mean,cru_ts_407_pre_yearly_mean.2004.mean,cru_ts_407_pre_yearly_mean.2005.mean,cru_ts_407_pre_yearly_mean.2006.mean,cru_ts_407_pre_yearly_mean.2007.mean,cru_ts_407_pre_yearly_mean.2008.mean,...,cru_ts_407_pre_yearly_mean.2013.mean,cru_ts_407_pre_yearly_mean.2014.mean,cru_ts_407_pre_yearly_mean.2015.mean,cru_ts_407_pre_yearly_mean.2016.mean,cru_ts_407_pre_yearly_mean.2017.mean,cru_ts_407_pre_yearly_mean.2018.mean,cru_ts_407_pre_yearly_mean.2019.mean,cru_ts_407_pre_yearly_mean.2020.mean,cru_ts_407_pre_yearly_mean.2021.mean,cru_ts_407_pre_yearly_mean.2022.mean
0,0,144.035464,144.125183,137.926282,153.862244,135.321717,146.127143,140.383060,149.499781,140.482008,...,116.966552,120.285236,138.935291,174.314981,143.048009,120.793237,117.127100,121.692923,135.980852,148.931280
1,1,157.055272,155.432419,149.397719,181.779978,157.744062,162.499452,161.054840,156.775948,157.262881,...,154.430515,131.229187,152.876420,193.079423,160.958246,136.040172,122.882648,139.067453,149.854351,172.260322
2,2,149.249333,145.696285,134.323750,168.393465,127.991839,138.689311,135.800411,141.527543,135.227976,...,112.061981,111.137575,137.902131,169.126175,137.734770,119.428205,111.205125,120.325314,128.925544,151.595913
3,3,145.365155,143.345457,139.406063,163.781061,146.546216,149.734850,148.565912,146.258337,146.722731,...,142.850761,121.019699,142.323486,175.334852,147.850002,123.687880,111.863638,126.492426,141.625760,158.241668
4,4,174.825002,170.748811,162.467860,199.214288,160.108336,166.176193,165.835717,164.990477,164.751194,...,149.198811,131.439288,166.830954,203.069050,165.696430,142.848811,127.376192,143.240478,156.933335,185.413097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,94.875003,93.641668,89.991669,112.775002,108.833335,112.091668,107.508335,99.366668,102.600002,...,112.083336,92.325001,91.658334,126.158336,109.191670,89.033334,81.458336,94.833334,94.316669,108.141670
158,158,94.658335,93.220835,92.483335,110.050002,107.725002,109.854168,105.808335,99.533334,101.916668,...,110.166669,90.891668,93.191668,125.337503,106.841669,87.225001,80.833335,92.791668,95.179168,107.991669
159,159,149.516670,147.216669,142.816669,167.641666,148.625004,151.866668,151.008336,149.325004,149.633338,...,143.991670,122.566669,146.158333,178.183337,150.100001,125.833335,113.366668,128.383334,144.766669,161.725001
160,160,140.192023,139.025032,126.448130,159.167942,120.423367,133.723697,129.208138,138.559373,128.030892,...,102.367819,108.839851,129.883032,161.337505,131.496858,113.244514,108.606465,115.411931,121.995638,141.759410
161,161,102.191147,99.118752,98.739586,106.351043,100.610939,102.563544,102.201565,102.633856,102.219794,...,92.063022,83.365627,100.129169,120.935417,100.923439,83.871356,77.834897,85.510939,99.250522,108.397919

In [24]:
prep_filter = prep[prep.columns[prep.columns.str.contains("pre_yearly")]]

In [25]:
for col in prep_filter: 
    new_name = "prep" + col.split(".", 1)[1]
    prep.rename(columns = {col : new_name}, inplace = True)

In [26]:
prep

,asdf_id,prep2000.mean,prep2001.mean,prep2002.mean,prep2003.mean,prep2004.mean,prep2005.mean,prep2006.mean,prep2007.mean,prep2008.mean,...,prep2013.mean,prep2014.mean,prep2015.mean,prep2016.mean,prep2017.mean,prep2018.mean,prep2019.mean,prep2020.mean,prep2021.mean,prep2022.mean
0,0,144.035464,144.125183,137.926282,153.862244,135.321717,146.127143,140.383060,149.499781,140.482008,...,116.966552,120.285236,138.935291,174.314981,143.048009,120.793237,117.127100,121.692923,135.980852,148.931280
1,1,157.055272,155.432419,149.397719,181.779978,157.744062,162.499452,161.054840,156.775948,157.262881,...,154.430515,131.229187,152.876420,193.079423,160.958246,136.040172,122.882648,139.067453,149.854351,172.260322
2,2,149.249333,145.696285,134.323750,168.393465,127.991839,138.689311,135.800411,141.527543,135.227976,...,112.061981,111.137575,137.902131,169.126175,137.734770,119.428205,111.205125,120.325314,128.925544,151.595913
3,3,145.365155,143.345457,139.406063,163.781061,146.546216,149.734850,148.565912,146.258337,146.722731,...,142.850761,121.019699,142.323486,175.334852,147.850002,123.687880,111.863638,126.492426,141.625760,158.241668
4,4,174.825002,170.748811,162.467860,199.214288,160.108336,166.176193,165.835717,164.990477,164.751194,...,149.198811,131.439288,166.830954,203.069050,165.696430,142.848811,127.376192,143.240478,156.933335,185.413097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,94.875003,93.641668,89.991669,112.775002,108.833335,112.091668,107.508335,99.366668,102.600002,...,112.083336,92.325001,91.658334,126.158336,109.191670,89.033334,81.458336,94.833334,94.316669,108.141670
158,158,94.658335,93.220835,92.483335,110.050002,107.725002,109.854168,105.808335,99.533334,101.916668,...,110.166669,90.891668,93.191668,125.337503,106.841669,87.225001,80.833335,92.791668,95.179168,107.991669
159,159,149.516670,147.216669,142.816669,167.641666,148.625004,151.866668,151.008336,149.325004,149.633338,...,143.991670,122.566669,146.158333,178.183337,150.100001,125.833335,113.366668,128.383334,144.766669,161.725001
160,160,140.192023,139.025032,126.448130,159.167942,120.423367,133.723697,129.208138,138.559373,128.030892,...,102.367819,108.839851,129.883032,161.337505,131.496858,113.244514,108.606465,115.411931,121.995638,141.759410
161,161,102.191147,99.118752,98.739586,106.351043,100.610939,102.563544,102.201565,102.633856,102.219794,...,92.063022,83.365627,100.129169,120.935417,100.923439,83.871356,77.834897,85.510939,99.250522,108.397919

In [23]:
prep_filter

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[162 rows x 0 columns]