In [1]:
import pandas as pd

In [2]:
sez = pd.read_csv("joined_sez_map.csv")

In [3]:
pop = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/population/worlpop_count_sum.csv")

In [4]:
pop.rename(columns = {"gqid" : "id"}, inplace=True)

In [5]:
column_filter = pop[pop.columns[pop.columns.str.contains("worldpop")]]

In [6]:
for col in column_filter:
    new_name = "pop" + col.split(".", 1)[1]
    pop.rename(columns = {col : new_name}, inplace = True)

In [7]:
pop_sum = pop[pop.columns[pop.columns.str.contains("sum|id")]]

In [8]:
pop_sum.columns = pop_sum.columns.str.replace(".sum$", "", regex=True)

In [9]:
pop_sum

,id,pop2000,pop2001,pop2002,pop2003,pop2004,pop2005,pop2006,pop2007,pop2008,...,pop2011,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,pop2019,pop2020
0,0,45970.070310,47035.882810,48345.648440,49470.703130,50638.523440,52060.175780,53419.183590,55033.140630,56472.507810,...,61356.378910,62881.078130,64882.167970,66922.765630,68747.250000,71156.859380,73428.031250,75796.445310,78273.484380,80849.898440
1,1,14736.208010,14754.046880,14827.058590,14836.921880,14940.546880,14959.025390,15013.518550,15104.973630,15166.107420,...,15583.217770,15605.839840,15690.029300,15843.356450,15981.168950,16100.646480,16229.238280,16351.714840,16478.464840,16611.490230
2,2,74844.140630,77744.734380,81927.132810,84006.570310,86649.195310,89146.882810,91864.375000,94853.234380,98647.468750,...,111147.804700,113425.445300,118354.617200,121928.179700,126503.710900,131977.125000,136775.421900,142350.250000,148277.484400,153291.390600
3,3,32907.832030,32802.625000,32701.800780,32459.386720,32240.417970,32123.998050,32005.177730,31828.589840,31838.548830,...,31426.476560,31294.906250,31123.841800,31036.798830,30900.898440,30770.750000,30622.753910,30542.845700,30420.687500,30310.660160
4,4,19353.316410,19696.431640,20171.140630,20543.074220,20984.316410,21655.970700,22166.158200,22585.064450,23429.542970,...,25939.066410,26729.710940,27863.269530,28916.035160,30105.857420,31415.054690,32826.164060,34232.000000,35890.281250,37616.562500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,831.317627,1242.263184,999.414368,1210.677612,1148.503296,1105.402344,1189.803467,1103.021240,1398.290649,...,1196.959473,1569.069580,1582.425903,1924.996826,2104.555664,1997.416504,1931.732422,2042.943604,2006.158691,2159.082031
158,158,209.728638,277.456635,257.666229,250.226975,242.554718,227.625488,220.150528,244.760818,249.737640,...,349.489075,311.703003,304.112060,355.788330,389.052185,339.188721,315.339539,358.027313,347.841797,377.290497
159,159,45563.625000,45702.195310,48744.183590,48841.074220,49615.316410,52321.671880,53622.371090,53751.128910,54719.871090,...,55413.886720,54730.304690,56544.863280,55975.429690,58652.058590,60370.230470,61507.601560,63251.238280,64889.960940,67187.789060
160,160,62141.441410,62876.718750,62545.578130,64238.656250,65637.851560,67623.843750,69085.468750,70825.281250,71755.742190,...,74754.515630,77995.312500,78869.742190,81556.546880,83240.257810,84292.187500,86342.562500,87863.320310,89389.031250,92006.054690
161,161,34227.917970,36069.531250,36438.628910,37953.761720,39210.035160,38232.910160,36872.156250,38965.273440,41954.937500,...,45980.375000,45739.152340,46780.414060,49476.898440,50912.062500,51284.535160,52062.464840,54064.800780,55536.328130,57532.125000

In [10]:
prep = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/precipitation/precipitation_00_22.csv")

In [11]:
prep_filter = prep[prep.columns[prep.columns.str.contains("pre_yearly")]]

In [12]:
for col in prep_filter: 
    new_name = "prep" + col.split(".", 1)[1]
    prep.rename(columns = {col : new_name}, inplace = True)

In [13]:
prep.columns = prep.columns.str.replace(".mean$", "", regex=True)

In [14]:
prep.rename(columns = {"asdf_id" : "id"}, inplace=True)

In [15]:
prep = prep[prep.columns[prep.columns.str.contains("prep|id")]]

In [16]:
temp = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/temperature/temperature_day_modis61_mean.csv")

In [17]:
temp.rename(columns = {"gqid" : "id"}, inplace=True)

In [18]:
temp_filter = temp[temp.columns[temp.columns.str.contains("mod11c3_061")]]

In [19]:
for col in temp_filter: 
    new_name = "temp" + col.split(".", 1)[1]
    temp.rename(columns = {col : new_name}, inplace=True)

In [20]:
temp.columns = temp.columns.str.replace(".mean$", "", regex=True)

In [21]:
temp = temp[temp.columns[temp.columns.str.contains("temp|id")]]

In [22]:
agri = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/landcover/agriculture_land_wide.csv")

In [23]:
agri.rename(columns = {"cityCode" : "id"}, inplace=True)

In [24]:
agri = agri[agri.columns[agri.columns.str.contains("agr|id")]]

In [25]:
agri.columns

Index(['id', 'agr_2001', 'agr_2002', 'agr_2003', 'agr_2004', 'agr_2005',
       'agr_2006', 'agr_2007', 'agr_2008', 'agr_2009', 'agr_2010', 'agr_2011',
       'agr_2012', 'agr_2013', 'agr_2014', 'agr_2015', 'agr_2016', 'agr_2017',
       'agr_2018', 'agr_2019', 'agr_2020', 'agr_2021', 'agr_2022'],
      dtype='object')

In [26]:
urba = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/landcover/urban_land_wide.csv")

In [27]:
urba.rename(columns = {"cityCode" : "id"}, inplace=True)

In [28]:
urba = urba[urba.columns[urba.columns.str.contains("urb|id")]]

In [29]:
ntl = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/ntl/ntl_sum_wide_00-22.csv")

In [30]:
ntl = ntl[ntl.columns[ntl.columns.str.contains("ntl|id")]]

In [31]:
datasets = [prep, temp, agri, urba, ntl]

In [32]:
municipality_data = pd.merge(sez, pop_sum[pop_sum.columns[pop_sum.columns.str.contains("pop|id")]], on="id", how="outer")

In [33]:
for dataset in datasets: 
    municipality_data = pd.merge(municipality_data, dataset, on="id", how= "outer")

In [34]:
filter_year = ["2017", "2018", "2018", "2019", "2020", "2021", "2022", "1999"]

pattern = "|".join(filter_year)
municipality_data = municipality_data.drop(columns = municipality_data.columns[municipality_data.columns.str.contains(pattern)])

In [35]:
#municipality_data.to_csv("municipality_data.csv", index=False)

In [36]:
var_names = ["inv", "ob_f_","tec_f_","adm_f_","ob_m_","tec_m_","adm_m_",'ent', 'ele', "com", 
"inf", "wat", "tss", "buiilt", "ocu", "sal_op", "sal_tec", "pop", "prep", "temp", "agr_", "urb_", "ntl_"]

In [37]:
long_df = pd.wide_to_long(municipality_data, stubnames=var_names, i='id', j='year', sep='')

In [38]:
long_df.to_csv("long_df.csv")