In [1]:
import pandas as pd

In [3]:
sez = pd.read_csv("joined_sez_map.csv")

,id,index_left,code,name,latitude,longitude,year,close,type,sez_id,...,sal_tec2019,sal_tec2010,sal_tec2011,sal_tec2012,sal_tec2013,sal_tec2014,sal_tec2015,sal_tec2016,id.1,shapeName
0,0,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,Constanza
1,1,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,1.0,Sabana De La Mar
2,2,57.0,DOM-MOC,Moca,19.390233,-70.537286,1989.0,0.0,public,58.0,...,2597.37,2684.83,2750.0,3550.31,3587.22,4106.91,4287.64,4488.96,2.0,Moca
3,3,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,3.0,Bayaguana
4,4,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,4.0,El Factor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,157.0,Isla Saona
158,158,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,158.0,Isla Catalina
159,159,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,159.0,San Luis
160,160,0.0,0,0,0.000000,0.000000,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,160.0,San Victor
161,161,6.0,DOM-BAN,Bani,18.253155,-70.405117,1986.0,0.0,private,7.0,...,3268.00,3412.46,3684.9,4803.13,4141.25,4004.09,5295.21,5286.29,161.0,Matanzas

In [6]:
pop = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/population/worlpop_count_sum.csv")

In [55]:
pop.rename(columns = {gg})

,gqid,shapeGroup,shapeID,shapeName,shapeType,pop2000.count,pop2000,pop2001.count,pop2001,pop2002.count,...,pop2016.count,pop2016,pop2017.count,pop2017,pop2018.count,pop2018,pop2019.count,pop2019,pop2020.count,pop2020
0,0,DOM,DOM-ADM2-62336421B4129984,Constanza,ADM2,1062.630005,45970.070310,1062.630005,47035.882810,1062.630005,...,1062.630005,71156.859380,1062.630005,73428.031250,1062.630005,75796.445310,1062.630005,78273.484380,1062.630005,80849.898440
1,1,DOM,DOM-ADM2-62336421B77813703,Sabana De La Mar,ADM2,643.920044,14736.208010,643.890015,14754.046880,643.890015,...,643.890015,16100.646480,643.890015,16229.238280,643.890015,16351.714840,643.890015,16478.464840,643.890015,16611.490230
2,2,DOM,DOM-ADM2-62336421B53492119,Moca,ADM2,248.090012,74844.140630,248.090012,77744.734380,248.090012,...,248.090012,131977.125000,248.090012,136775.421900,248.090012,142350.250000,248.090012,148277.484400,248.090012,153291.390600
3,3,DOM,DOM-ADM2-62336421B76783084,Bayaguana,ADM2,1089.489990,32907.832030,1089.489990,32802.625000,1089.489990,...,1089.489990,30770.750000,1089.489990,30622.753910,1089.489990,30542.845700,1089.489990,30420.687500,1089.489990,30310.660160
4,4,DOM,DOM-ADM2-62336421B67057363,El Factor,ADM2,186.660004,19353.316410,186.660004,19696.431640,186.660004,...,186.660004,31415.054690,186.660004,32826.164060,186.660004,34232.000000,186.660004,35890.281250,186.660004,37616.562500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,DOM,DOM-ADM2-62336421B42885380,Isla Saona,ADM2,136.589996,831.317627,136.559998,1242.263184,136.559998,...,136.559998,1997.416504,136.559998,1931.732422,136.559998,2042.943604,136.559998,2006.158691,136.559998,2159.082031
158,158,DOM,DOM-ADM2-62336421B10375685,Isla Catalina,ADM2,11.540001,209.728638,11.540001,277.456635,11.540001,...,11.540001,339.188721,11.540001,315.339539,11.540001,358.027313,11.540001,347.841797,11.540001,377.290497
159,159,DOM,DOM-ADM2-62336421B32197612,San Luis,ADM2,54.369999,45563.625000,54.369999,45702.195310,54.369999,...,54.369999,60370.230470,54.369999,61507.601560,54.369999,63251.238280,54.369999,64889.960940,54.369999,67187.789060
160,160,DOM,DOM-ADM2-62336421B94417177,San Victor,ADM2,186.389984,62141.441410,186.389984,62876.718750,186.389984,...,186.389984,84292.187500,186.389984,86342.562500,186.389984,87863.320310,186.389984,89389.031250,186.389984,92006.054690
161,161,DOM,DOM-ADM2-62336421B26924656,Matanzas,ADM2,288.230011,34227.917970,288.220001,36069.531250,288.220001,...,288.220001,51284.535160,288.220001,52062.464840,288.220001,54064.800780,288.220001,55536.328130,288.220001,57532.125000

In [9]:
column_filter = pop[pop.columns[pop.columns.str.contains("worldpop")]]

In [11]:
for col in column_filter:
    new_name = "pop" + col.split(".", 1)[1]
    pop.rename(columns = {col : new_name}, inplace = True)

In [13]:
pop_sum = pop[pop.columns[pop.columns.str.contains("sum|shape|id")]]

In [31]:
pop_sum.columns = pop_sum.columns.str.replace(".sum$", "", regex=True)

In [15]:
prep = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/precipitation/precipitation_00_22.csv")

In [24]:
prep_filter = prep[prep.columns[prep.columns.str.contains("pre_yearly")]]

In [25]:
for col in prep_filter: 
    new_name = "prep" + col.split(".", 1)[1]
    prep.rename(columns = {col : new_name}, inplace = True)

In [33]:
prep.columns = prep.columns.str.replace(".mean$", "", regex=True)

In [35]:
temp = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/temperature/temperature_day_modis61_mean.csv")

In [38]:
temp_filter = temp[temp.columns[temp.columns.str.contains("mod11c3_061")]]

In [41]:
for col in temp_filter: 
    new_name = "temp" + col.split(".", 1)[1]
    temp.rename(columns = {col : new_name}, inplace=True)

In [44]:
temp.columns = temp.columns.str.replace(".mean$", "", regex=True)

In [46]:
agri = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/landcover/agriculture_land_wide.csv")

In [52]:
urba = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/landcover/urban_land_wide.csv")

In [50]:
ntl = pd.read_csv("/Users/hendrixperalta/Desktop/Research Data Manipulation/research_data/adm2/ntl/ntl_sum_wide_00-22.csv")

,id,shapeName,ntl_2000,ntl_2001,ntl_2002,ntl_2003,ntl_2004,ntl_2005,ntl_2006,ntl_2007,...,ntl_2013,ntl_2014,ntl_2015,ntl_2016,ntl_2017,ntl_2018,ntl_2019,ntl_2020,ntl_2021,ntl_2022
0,0,Constanza,0.049457,0.078925,0.102329,0.070205,0.066728,0.056932,0.079726,0.081665,...,0.163717,0.199235,0.275266,0.261424,0.266472,0.241848,0.313275,0.452059,0.507187,0.494288
1,1,Sabana De La Mar,0.012013,0.020921,0.032937,0.012745,0.029467,0.013155,0.018164,0.013462,...,0.052045,0.058413,0.064734,0.054829,0.059540,0.073573,0.080247,0.084166,0.100997,0.107075
2,2,Moca,0.218282,0.203814,0.551070,0.465303,0.456324,0.231695,0.339829,0.221490,...,1.514305,1.899313,2.090571,2.052055,2.450457,2.539096,2.935329,2.995491,3.625937,4.142743
3,3,Bayaguana,0.008230,0.012819,0.053092,0.027037,0.018702,0.009461,0.010758,0.004520,...,0.027539,0.028921,0.019717,0.047437,0.071559,0.065549,0.066805,0.068614,0.099964,0.106104
4,4,El Factor,0.007903,0.024457,0.058619,0.000000,0.001966,0.000000,0.002588,0.000702,...,0.169288,0.174950,0.173296,0.168871,0.269597,0.250877,0.290998,0.366983,0.586179,1.130638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,Isla Saona,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
158,158,Isla Catalina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
159,159,San Luis,0.534750,0.344222,0.301333,1.112791,0.336225,0.422105,0.708350,0.475824,...,2.917675,2.435320,2.809598,3.067744,3.751750,4.773104,5.425247,6.543418,7.949818,9.014298
160,160,San Victor,0.188298,0.181124,0.250732,0.225982,0.162157,0.118752,0.204396,0.139658,...,1.129739,1.227912,1.349442,1.265729,1.653803,1.873042,2.192442,2.536735,3.191334,4.053918
161,161,Matanzas,0.020293,0.047953,0.055781,0.059287,0.011000,0.014006,0.009004,0.000000,...,0.394081,0.438120,0.443447,0.399016,0.373778,0.435411,0.391302,1.384527,1.727089,1.828286

In [53]:
datasets = [sez, pop_sum, prep, temp, agri, urba, ntl]

In [ ]:
filter_year = ["2017", "2018", "2018", "2019", "2020", "2021", "2022", "1999"]

pattern = "|".join(filter_year)
sez_filtered = sez.drop(columns = sez.columns[sez.columns.str.contains(pattern)])