In [1]:
import pandas as pd

In [2]:
emp00 = pd.read_csv("Emp_2000.csv",  encoding='utf-8-sig')

In [3]:
emp01 = pd.read_csv("Emp_2001.csv",  encoding='utf-8-sig')

In [4]:
emp02 = pd.read_csv("Emp_2002.csv",  encoding='utf-8-sig')

In [5]:
emp03 = pd.read_csv("Emp_2003.csv",  encoding='utf-8-sig')

In [6]:
emp04 = pd.read_csv("Emp_2004.csv",  encoding='utf-8-sig')

In [7]:
emp05 = pd.read_csv("Emp_2005.csv",  encoding='utf-8-sig')

In [8]:
emp06 = pd.read_csv("Emp_2006.csv",  encoding='utf-8-sig')

In [9]:
emp07 = pd.read_csv("Emp_2007.csv",  encoding='utf-8-sig')

In [10]:
emp08 = pd.read_csv("Emp_2008.csv",  encoding='utf-8-sig')

In [11]:
emp09 = pd.read_csv("Emp_2009.csv",  encoding='utf-8-sig')

In [12]:
emp10 = pd.read_csv("Emp_2010.csv",  encoding='utf-8-sig')

In [13]:
emp11 = pd.read_csv("Emp_2011.csv",  encoding='utf-8-sig')

In [14]:
emp12 = pd.read_csv("Emp_2012.csv",  encoding='utf-8-sig')

In [15]:
emp14 = pd.read_csv("Emp_2014.csv",  encoding='utf-8-sig')

In [16]:
emp15 = pd.read_csv("Emp_2015.csv",  encoding='utf-8-sig')

In [17]:
emp16 = pd.read_csv("Emp_2016.csv",  encoding='utf-8-sig')

In [18]:
def f(df):
    mask = df.columns.str.contains("ob")|df.columns.str.contains("tec")|df.columns.str.contains("adm")|df.columns.str.contains("total")|(df.columns=="code")
    return df.loc[:, mask]

In [19]:
emp_agg = pd.merge(emp00, emp01[['code', 'ob_m_01', 'tec_m_01', 'adm_m_01', 'total_m_01',
       'ob_f_01', 'tec_f_01', 'adm_f_01', 'total_f_01', 'total_mf_01']], on="code", how="outer")

In [20]:
emp_agg = pd.merge(emp_agg, emp02[['code', 'ob_m_02', 'tec_m_02', 'adm_m_02', 'total_m_02',
       'ob_f_02', 'tec_f_02', 'adm_f_02', 'total_f_02', 'total_mf_02']], on="code", how="outer")

In [21]:
emp_agg = pd.merge(emp_agg, emp03[['code', 'ob_m_03', 'tec_m_03', 'adm_m_03', 'total_m_03',
       'ob_f_03', 'tec_f_03', 'adm_f_03', 'total_f_03', 'total_mf_03']], on="code", how="outer")

In [22]:
emp_agg = pd.merge(emp_agg, emp04[['code', 'ob_m_04', 'tec_m_04', 'adm_m_04', 'total_m_04',
       'ob_f_04', 'tec_f_04', 'adm_f_04', 'total_f_04', 'total_mf_04']], on="code", how="outer")

In [23]:
emp_agg = pd.merge(emp_agg, emp05[['code', 'ob_m_05', 'tec_m_05', 'adm_m_05', 'total_m_05',
       'ob_f_05', 'tec_f_05', 'adm_f_05', 'total_f_05', 'total_mf_05']], on="code", how="outer")

In [24]:
emp_agg = pd.merge(emp_agg, emp06[['code', 'ob_m_06', 'tec_m_06', 'adm_m_06', 'total_m_06',
       'ob_f_06', 'tec_f_06', 'adm_f_06', 'total_f_06', 'total_mf_06']], on="code", how="outer")

In [25]:
emp_agg = pd.merge(emp_agg, emp07[['code', 'ob_m_07', 'tec_m_07', 'adm_m_07', 'total_m_07',
       'ob_f_07', 'tec_f_07', 'adm_f_07', 'total_f_07', 'total_mf_07']], on="code", how="outer")

In [26]:
emp_agg = pd.merge(emp_agg, emp08[['code', 'ob_m_08', 'tec_m_08', 'adm_m_08', 'total_m_08',
       'ob_f_08', 'tec_f_08', 'adm_f_08', 'total_f_08', 'total_mf_08']], on="code", how="outer")

In [27]:
emp_agg = pd.merge(emp_agg, emp09[['code', 'ob_m_09', 'tec_m_09', 'adm_m_09', 'total_m_09',
       'ob_f_09', 'tec_f_09', 'adm_f_09', 'total_f_09', 'total_mf_09']], on="code", how="outer")

In [28]:
emp_agg = pd.merge(emp_agg, emp10[['code', 'ob_m_10', 'tec_m_10', 'adm_m_10', 'total_m_10',
       'ob_f_10', 'tec_f_10', 'adm_f_10', 'total_f_10', 'total_mf_10']], on="code", how="outer")

In [29]:
emp_agg = pd.merge(emp_agg, emp11[['code', 'ob_m_11', 'tec_m_11', 'adm_m_11', 'total_m_11',
       'ob_f_11', 'tec_f_11', 'adm_f_11', 'total_f_11', 'total_mf_11']], on="code", how="outer")

In [30]:
emp_agg = pd.merge(emp_agg, emp12[['code', 'ob_m_12', 'tec_m_12', 'adm_m_12', 'total_m_12',
       'ob_f_12', 'tec_f_12', 'adm_f_12', 'total_f_12', 'total_mf_12']], on="code", how="outer")

In [31]:
#emp_agg = pd.merge(emp_agg, f(emp13), on="code", how="outer")

In [32]:
emp_agg = pd.merge(emp_agg, emp14[['code', 'ob_m_14', 'tec_m_14', 'adm_m_14', 'total_m_14',
       'ob_f_14', 'tec_f_14', 'adm_f_14', 'total_f_14', 'total_mf_14']], on="code", how="outer")

In [33]:
#emp_agg = pd.merge(emp_agg, emp15[['code', 'ob_m_15', 'tec_m_15', 'adm_m_15', 'total_m_15',
     #  'ob_f_15', 'tec_f_15', 'adm_f_15', 'total_f_15', 'total_mf_15']], on="code", how="outer")

In [34]:
emp_agg = pd.merge(emp_agg, f(emp16), on="code", how="outer")

In [35]:
#emp_agg.fillna(0, inplace= True)

In [36]:
emp_agg = emp_agg[emp_agg['code'] != 0]

In [37]:
emp_agg

,code,park,ob_m_00,tec_m_00,adm_m_00,total_m_00,ob_f_00,tec_f_00,adm_f_00,total_f_00,...,total_mf_14,ob_m_16,tec_m_16,adm_m_16,total_m_16,ob_f_16,tec_f_16,adm_f_16,total_f_16,total_mf_16
0,DOM-6NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,46.0,2.0,10.0,58.0,26.0,0.0,2.0,28.0,86.0
1,DOM-ALC,Los Alcarrizos,1068.0,157.0,81.0,1306.0,2105.0,59.0,62.0,2226.0,...,927.0,370.0,72.0,43.0,485.0,403.0,23.0,48.0,474.0,959.0
2,DOM-ALT,Villa Altagracia,362.0,41.0,106.0,509.0,2476.0,15.0,131.0,2622.0,...,290.0,134.0,14.0,10.0,158.0,90.0,3.0,14.0,107.0,265.0
3,DOM-AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.0,3.0,49.0,19.0,71.0,2.0,0.0,6.0,8.0,79.0
4,DOM-ARM,La Armería,808.0,80.0,34.0,922.0,1719.0,37.0,30.0,1786.0,...,387.0,218.0,27.0,38.0,283.0,407.0,7.0,28.0,442.0,725.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,DOM-VIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1184.0,1076.0,151.0,84.0,1311.0,336.0,19.0,94.0,449.0,1760.0
85,DOM-YAQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,280.0,157.0,37.0,30.0,224.0,2.0,1.0,24.0,27.0,251.0
86,DOM-ZFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26194.0,6854.0,8229.0,1963.0,17046.0,3513.0,5007.0,1411.0,9931.0,26977.0
87,DOM-ZOF,Zofinma (Mao),108.0,8.0,2.0,118.0,82.0,2.0,3.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
fem = emp_agg.columns.str.contains("_f_")|(emp_agg.columns=="code")
emp_agg_f = emp_agg[emp_agg.columns[fem]]

In [39]:
mas = emp_agg.columns.str.contains("_m_")|(emp_agg.columns=="code")
emp_agg_m = emp_agg[emp_agg.columns[mas]]

In [40]:
total = emp_agg.columns.str.contains("_mf_")|(emp_agg.columns=="code")
emp_agg_total = emp_agg[emp_agg.columns[total]]

In [41]:
emp_agg_f.to_csv('emp_agg_f.csv', index=False)

In [42]:
emp_agg_m.to_csv('emp_agg_m.csv', index=False)

In [43]:
emp_agg_total.to_csv('emp_agg_total.csv', index=False)