In [1]:
import pandas as pd

In [2]:
emp00 = pd.read_csv("Emp_2000.csv",  encoding='utf-8-sig')

In [3]:
emp01 = pd.read_csv("Emp_2001.csv",  encoding='utf-8-sig')

In [4]:
emp02 = pd.read_csv("Emp_2002.csv",  encoding='utf-8-sig')

In [5]:
emp03 = pd.read_csv("Emp_2003.csv",  encoding='utf-8-sig')

In [6]:
emp04 = pd.read_csv("Emp_2004.csv",  encoding='utf-8-sig')

In [7]:
emp05 = pd.read_csv("Emp_2005.csv",  encoding='utf-8-sig')

In [8]:
emp06 = pd.read_csv("Emp_2006.csv",  encoding='utf-8-sig')

In [9]:
emp07 = pd.read_csv("Emp_2007.csv",  encoding='utf-8-sig')

In [10]:
emp08 = pd.read_csv("Emp_2008.csv",  encoding='utf-8-sig')

In [11]:
emp09 = pd.read_csv("Emp_2009.csv",  encoding='utf-8-sig')

In [12]:
emp10 = pd.read_csv("Emp_2010.csv",  encoding='utf-8-sig')

In [13]:
emp11 = pd.read_csv("Emp_2011.csv",  encoding='utf-8-sig')

In [14]:
emp12 = pd.read_csv("Emp_2012.csv",  encoding='utf-8-sig')

In [15]:
emp14 = pd.read_csv("Emp_2014.csv",  encoding='utf-8-sig')

In [16]:
emp15 = pd.read_csv("Emp_2015.csv",  encoding='utf-8-sig')

In [17]:
emp16 = pd.read_csv("Emp_2016.csv",  encoding='utf-8-sig')

In [51]:
def f(df):
    mask = df.columns.str.contains("ob")|df.columns.str.contains("tec")|df.columns.str.contains("adm")|df.columns.str.contains("total")|(df.columns=="code")
    return df.loc[:, mask]

,code,ob_m_16,tec_m_16,adm_m_16,total_m_16,ob_f_16,tec_f_16,adm_f_16,total_f_16,total_mf_16
0,DOM-AND,3,49,19,71,2,0,6,8,79
1,DOM-BAN,132,54,18,204,235,38,19,292,496
2,DOM-BAR,559,52,43,654,734,71,31,836,1490
3,DOM-VIS,1076,151,84,1311,336,19,94,449,1760
4,DOM-BON,94,13,4,111,194,4,9,207,318
...,...,...,...,...,...,...,...,...,...,...
64,DOM-SUR,30,0,2,32,0,0,1,1,33
65,DOM-EMI,532,82,17,631,1149,38,38,1225,1856
66,DOM-SAG,102,9,4,115,91,2,8,101,216
67,DOM-JOB,17,6,2,25,6,0,5,11,36
68,DOM-ZFE,6854,8229,1963,17046,3513,5007,1411,9931,26977

In [24]:
emp_agg = pd.merge(emp00, emp01[['code', 'ob_m_01', 'tec_m_01', 'adm_m_01', 'total_m_01',
       'ob_f_01', 'tec_f_01', 'adm_f_01', 'total_f_01', 'total_mf_01']], on="code", how="outer")

In [25]:
emp_agg = pd.merge(emp_agg, emp02[['code', 'ob_m_02', 'tec_m_02', 'adm_m_02', 'total_m_02',
       'ob_f_02', 'tec_f_02', 'adm_f_02', 'total_f_02', 'total_mf_02']], on="code", how="outer")

In [29]:
emp_agg = pd.merge(emp_agg, emp03[['code', 'ob_m_03', 'tec_m_03', 'adm_m_03', 'total_m_03',
       'ob_f_03', 'tec_f_03', 'adm_f_03', 'total_f_03', 'total_mf_03']], on="code", how="outer")

In [30]:
emp_agg = pd.merge(emp_agg, emp04[['code', 'ob_m_04', 'tec_m_04', 'adm_m_04', 'total_m_04',
       'ob_f_04', 'tec_f_04', 'adm_f_04', 'total_f_04', 'total_mf_04']], on="code", how="outer")

In [31]:
emp_agg = pd.merge(emp_agg, emp05[['code', 'ob_m_05', 'tec_m_05', 'adm_m_05', 'total_m_05',
       'ob_f_05', 'tec_f_05', 'adm_f_05', 'total_f_05', 'total_mf_05']], on="code", how="outer")

In [32]:
emp_agg = pd.merge(emp_agg, emp06[['code', 'ob_m_06', 'tec_m_06', 'adm_m_06', 'total_m_06',
       'ob_f_06', 'tec_f_06', 'adm_f_06', 'total_f_06', 'total_mf_06']], on="code", how="outer")

In [33]:
emp_agg = pd.merge(emp_agg, emp07[['code', 'ob_m_07', 'tec_m_07', 'adm_m_07', 'total_m_07',
       'ob_f_07', 'tec_f_07', 'adm_f_07', 'total_f_07', 'total_mf_07']], on="code", how="outer")

In [35]:
emp_agg = pd.merge(emp_agg, emp08[['code', 'ob_m_08', 'tec_m_08', 'adm_m_08', 'total_m_08',
       'ob_f_08', 'tec_f_08', 'adm_f_08', 'total_f_08', 'total_mf_08']], on="code", how="outer")

In [36]:
emp_agg = pd.merge(emp_agg, emp09[['code', 'ob_m_09', 'tec_m_09', 'adm_m_09', 'total_m_09',
       'ob_f_09', 'tec_f_09', 'adm_f_09', 'total_f_09', 'total_mf_09']], on="code", how="outer")

In [37]:
emp_agg = pd.merge(emp_agg, emp10[['code', 'ob_m_10', 'tec_m_10', 'adm_m_10', 'total_m_10',
       'ob_f_10', 'tec_f_10', 'adm_f_10', 'total_f_10', 'total_mf_10']], on="code", how="outer")

In [38]:
emp_agg = pd.merge(emp_agg, emp11[['code', 'ob_m_11', 'tec_m_11', 'adm_m_11', 'total_m_11',
       'ob_f_11', 'tec_f_11', 'adm_f_11', 'total_f_11', 'total_mf_11']], on="code", how="outer")

In [39]:
emp_agg = pd.merge(emp_agg, emp12[['code', 'ob_m_12', 'tec_m_12', 'adm_m_12', 'total_m_12',
       'ob_f_12', 'tec_f_12', 'adm_f_12', 'total_f_12', 'total_mf_12']], on="code", how="outer")

In [57]:
#emp_agg = pd.merge(emp_agg, f(emp13), on="code", how="outer")

In [41]:
emp_agg = pd.merge(emp_agg, emp14[['code', 'ob_m_14', 'tec_m_14', 'adm_m_14', 'total_m_14',
       'ob_f_14', 'tec_f_14', 'adm_f_14', 'total_f_14', 'total_mf_14']], on="code", how="outer")

In [42]:
emp_agg = pd.merge(emp_agg, emp15[['code', 'ob_m_15', 'tec_m_15', 'adm_m_15', 'total_m_15',
       'ob_f_15', 'tec_f_15', 'adm_f_15', 'total_f_15', 'total_mf_15']], on="code", how="outer")

In [55]:
emp_agg = pd.merge(emp_agg, f(emp16), on="code", how="outer")

In [56]:
emp_agg.describe

<bound method NDFrame.describe of        code              park  ob_m_00  tec_m_00  adm_m_00  total_m_00  \
0   DOM-6NO               NaN      NaN       NaN       NaN         NaN
1   DOM-ALC    Los Alcarrizos   1068.0     157.0      81.0      1306.0
2   DOM-ALT  Villa Altagracia    362.0      41.0     106.0       509.0
3   DOM-AND               NaN      NaN       NaN       NaN         NaN
4   DOM-ARM        La Armería    808.0      80.0      34.0       922.0
..      ...               ...      ...       ...       ...         ...
86  DOM-VIS               NaN      NaN       NaN       NaN         NaN
87  DOM-YAQ               NaN      NaN       NaN       NaN         NaN
88  DOM-ZFE               NaN      NaN       NaN       NaN         NaN
89  DOM-ZOF     Zofinma (Mao)    108.0       8.0       2.0       118.0
90      NaN   Z.F. Especiales   2323.0     240.0     213.0      2776.0

    ob_f_00  tec_f_00  adm_f_00  total_f_00  ...  total_mf_15  ob_m_16  \
0       NaN       NaN       NaN         NaN  ...          NaN     46.0
1    2105.0      59.0      62.0      2226.0  ...          NaN    370.0
2    2476.0      15.0     131.0      2622.0  ...          NaN    134.0
3       NaN       NaN       NaN         NaN  ...          NaN      3.0
4    1719.0      37.0      30.0      1786.0  ...          NaN    218.0
..      ...       ...       ...         ...  ...          ...      ...
86      NaN       NaN       NaN         NaN  ...          NaN   1076.0
87      NaN       NaN       NaN         NaN  ...          NaN    157.0
88      NaN       NaN       NaN         NaN  ...          NaN   6854.0
89     82.0       2.0       3.0        87.0  ...          NaN      NaN
90   2646.0      79.0     175.0      2900.0  ...          NaN      NaN

    tec_m_16  adm_m_16  total_m_16  ob_f_16  tec_f_16  adm_f_16  total_f_16  \
0        2.0      10.0        58.0     26.0       0.0       2.0        28.0
1       72.0      43.0       485.0    403.0      23.0      48.0       474.0
2       14.0      10.0       158.0     90.0       3.0      14.0       107.0
3       49.0      19.0        71.0      2.0       0.0       6.0         8.0
4       27.0      38.0       283.0    407.0       7.0      28.0       442.0
..       ...       ...         ...      ...       ...       ...         ...
86     151.0      84.0      1311.0    336.0      19.0      94.0       449.0
87      37.0      30.0       224.0      2.0       1.0      24.0        27.0
88    8229.0    1963.0     17046.0   3513.0    5007.0    1411.0      9931.0
89       NaN       NaN         NaN      NaN       NaN       NaN         NaN
90       NaN       NaN         NaN      NaN       NaN       NaN         NaN

    total_mf_16
0          86.0
1         959.0
2         265.0
3          79.0
4         725.0
..          ...
86       1760.0
87        251.0
88      26977.0
89          NaN
90          NaN

[91 rows x 146 columns]>

In [20]:
emp00and16.fillna(0, inplace= True)
emp00and16

,code,park,ob_m_00,tec_m_00,adm_m_00,total_m_00,ob_f_00,tec_f_00,adm_f_00,total_f_00,total_mf_00,ob_m_16,tec_m_16,adm_m_16,total_m_16,ob_f_16,tec_f_16,adm_f_16,total_f_16,total_mf_16
0,DOM-6NO,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0,2.0,10.0,58.0,26.0,0.0,2.0,28.0,86.0
1,DOM-ALC,Los Alcarrizos,1068.0,157.0,81.0,1306.0,2105.0,59.0,62.0,2226.0,3532.0,370.0,72.0,43.0,485.0,403.0,23.0,48.0,474.0,959.0
2,DOM-ALT,Villa Altagracia,362.0,41.0,106.0,509.0,2476.0,15.0,131.0,2622.0,3131.0,134.0,14.0,10.0,158.0,90.0,3.0,14.0,107.0,265.0
3,DOM-AND,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,49.0,19.0,71.0,2.0,0.0,6.0,8.0,79.0
4,DOM-ARM,La Armería,808.0,80.0,34.0,922.0,1719.0,37.0,30.0,1786.0,2708.0,218.0,27.0,38.0,283.0,407.0,7.0,28.0,442.0,725.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,DOM-VIS,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1076.0,151.0,84.0,1311.0,336.0,19.0,94.0,449.0,1760.0
76,DOM-YAQ,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,37.0,30.0,224.0,2.0,1.0,24.0,27.0,251.0
77,DOM-ZFE,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6854.0,8229.0,1963.0,17046.0,3513.0,5007.0,1411.0,9931.0,26977.0
78,DOM-ZOF,Zofinma (Mao),108.0,8.0,2.0,118.0,82.0,2.0,3.0,87.0,205.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,0,Z.F. Especiales,2323.0,240.0,213.0,2776.0,2646.0,79.0,175.0,2900.0,5676.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
emp00and16.to_csv('emp00and16.csv', index=False)