In [1]:
import pandas as pd

In [2]:
emp00 = pd.read_csv("Emp_2000.csv",  encoding='cp1252')

In [3]:
emp01 = pd.read_csv("Emp_2001.csv",  encoding='cp1252')

In [4]:
emp02 = pd.read_csv("Emp_2002.csv",  encoding='cp1252')

In [5]:
emp03 = pd.read_csv("Emp_2003.csv",  encoding='cp1252')

In [6]:
emp04 = pd.read_csv("Emp_2004.csv",  encoding='cp1252')

In [7]:
emp05 = pd.read_csv("Emp_2005.csv",  encoding='cp1252')

In [8]:
emp06 = pd.read_csv("Emp_2006.csv",  encoding='cp1252')

In [9]:
emp07 = pd.read_csv("Emp_2007.csv",  encoding='cp1252')

In [10]:
emp08 = pd.read_csv("Emp_2008.csv",  encoding='cp1252')

In [11]:
emp09 = pd.read_csv("Emp_2009.csv",  encoding='cp1252')

In [12]:
emp10 = pd.read_csv("Emp_2010.csv",  encoding='cp1252')

In [13]:
emp11 = pd.read_csv("Emp_2011.csv",  encoding='cp1252')

In [14]:
emp12 = pd.read_csv("Emp_2012.csv",  encoding='cp1252')

In [15]:
emp14 = pd.read_csv("Emp_2014.csv",  encoding='cp1252')

In [16]:
emp15 = pd.read_csv("Emp_2015.csv",  encoding='cp1252')

In [17]:
emp16 = pd.read_csv("Emp_2016.csv",  encoding='cp1252')

In [18]:
emp16

,ï»¿code,park,ob_m_16,tec_m_16,adm_m_16,total_m_16,ob_f_16,tec_f_16,adm_f_16,total_f_16,total_mf_16
0,DOM-AND,AndrÃ©s,3,49,19,71,2,0,6,8,79
1,DOM-BAN,BanÃ­,132,54,18,204,235,38,19,292,496
2,DOM-BAR,Barahona,559,52,43,654,734,71,31,836,1490
3,DOM-VIS,Bella Vista,1076,151,84,1311,336,19,94,449,1760
4,DOM-BON,Bonao,94,13,4,111,194,4,9,207,318
...,...,...,...,...,...,...,...,...,...,...,...
64,DOM-SUR,Zona Franca Industrial del Sur,30,0,2,32,0,0,1,1,33
65,DOM-EMI,Zona Franca Industrial Emimar,532,82,17,631,1149,38,38,1225,1856
66,DOM-SAG,Zona Franca Industrial SAG,102,9,4,115,91,2,8,101,216
67,DOM-JOB,Zona Franca Jobo Industrial,17,6,2,25,6,0,5,11,36
68,DOM-ZFE,Zonas Francas Especiales,6854,8229,1963,17046,3513,5007,1411,9931,26977

In [ ]:
inv00_19 = pd.merge(inv00, inv01[['code', 'inv01']], on="code", how="outer")