In [1]:
import pandas as pd

In [2]:
nav00 = pd.read_csv("naves_00.csv", encoding='utf-8-sig')

In [3]:
nav01 = pd.read_csv("naves_01.csv", encoding='utf-8-sig')

In [4]:
nav02 = pd.read_csv("naves_02.csv", encoding='utf-8-sig')

In [5]:
nav03 = pd.read_csv("naves_03.csv", encoding='utf-8-sig')

In [6]:
nav04 = pd.read_csv("naves_04.csv", encoding='utf-8-sig')

In [7]:
nav05 = pd.read_csv("naves_05.csv", encoding='utf-8-sig')

In [8]:
nav06 = pd.read_csv("naves_06.csv", encoding='utf-8-sig')

In [9]:
nav07 = pd.read_csv("naves_07.csv", encoding='utf-8-sig')

In [10]:
nav08 = pd.read_csv("naves_08.csv", encoding='utf-8-sig')

In [11]:
nav09 = pd.read_csv("naves_09.csv", encoding='utf-8-sig')

In [12]:
nav10 = pd.read_csv("naves_10.csv", encoding='utf-8-sig')

In [13]:
nav11 = pd.read_csv("naves_11.csv", encoding='utf-8-sig')

In [14]:
nav12 = pd.read_csv("naves_12.csv", encoding='utf-8-sig')

In [15]:
nav13 = pd.read_csv("naves_13.csv", encoding='utf-8-sig')

In [16]:
nav14 = pd.read_csv("naves_14.csv", encoding='utf-8-sig')

In [17]:
nav15 = pd.read_csv("naves_15.csv", encoding='utf-8-sig')

In [18]:
nav16 = pd.read_csv("naves_16.csv", encoding='utf-8-sig')

In [19]:
nav16.columns

Index(['code', 'park16', ' buiilt16', ' ocu16', ' availa16'], dtype='object')

In [24]:
def f(df):
    m = df.columns.str.contains("park")
    return df.loc[:,m]

In [28]:
nav16.drop(columns=f(nav16))

       code   buiilt16      ocu16   availa16
0   DOM-AND   64500.00   64500.00       0.00
1   DOM-BAN  430138.00  325286.00  104852.00
2   DOM-BAR  299420.14  299420.14       0.00
3   DOM-VIS  421834.00  421834.00       0.00
4   DOM-BON  411800.22  253706.18  158094.04
..      ...        ...        ...        ...
63  DOM-SAG   66635.70   66635.70       0.00
64  DOM-6NO   33356.00   33356.00       0.00
65  DOM-NOR    6797.00    6797.00       0.00
66  DOM-SUR   14648.00   14648.00       0.00
67  DOM-JOB  110000.00  110000.00       0.00

[68 rows x 4 columns]

In [23]:
nav16

,code,park16,buiilt16,ocu16,availa16
0,DOM-AND,Andrés,64500.00,64500.00,0.00
1,DOM-BAN,Baní,430138.00,325286.00,104852.00
2,DOM-BAR,Barahona,299420.14,299420.14,0.00
3,DOM-VIS,Bella Vista,421834.00,421834.00,0.00
4,DOM-BON,Bonao,411800.22,253706.18,158094.04
...,...,...,...,...,...
63,DOM-SAG,Zona Franca Ind. SAG,66635.70,66635.70,0.00
64,DOM-6NO,Zona Franca Industrial 6 de Noviembre,33356.00,33356.00,0.00
65,DOM-NOR,Zona Franca Industrial del Norte,6797.00,6797.00,0.00
66,DOM-SUR,Zona Franca Industrial del Sur,14648.00,14648.00,0.00
67,DOM-JOB,Zona Franca Jobo Industrial,110000.00,110000.00,0.00